Makefile
Makefile.in

.*.swp
*.o
*.cache/

.deps/

/aclocal.m4
/configure
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/depcomp
/install-sh
/missing
/stamp-h1
/tags

/one_astronaut

